{% extends 'base.html' %}
{% load static %}
{% block title %}
    Gen Group | A global network for education, innovation and impact
{% endblock %}

{% block content %}
    <!-- Start Clgun Banner 2 Area -->
    <div class="banner-area-2 big-bg-2">
        <div class="container">
            <div class="banner-content-2">
                <div class="content">
                    <span data-aos="fade-zoom-in" data-aos-delay="300">A global network for education, innovation and impact</span>
                    <h1 data-aos="fade-up" data-aos-delay="200">Revolutionizing Education</h1>
                    <p data-aos="fade-up" data-aos-delay="300">There are many variations of passages of Lorem Ipsum
                        available, but the majority have suffered altera some injected humour, or randomised words which
                        don't look even slightly believable.</p>
                    <div class="buttons-action" data-aos="fade-up" data-aos-delay="100">
                        <a class="default-btn" href="application-form.html">Explore Our Institutions</a>
                        <a class="default-btn btn-style-2" href="contact-us.html">Partner with Us</a>
                    </div>
                    <div class="vertical-lr" data-aos="fade-zoom-in" data-aos-delay="100">
                        <p>Transformative Education <span>12-10-2024</span></p>
                    </div>

                    <div class="scroll-down" data-aos="fade-down" data-aos-delay="100">
                        <a href="#about"><i class='bx bx-chevron-down'></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Clgun Banner 2 Area -->
    <!-- Start About Us Area 2 -->
    <div id="about" class="about-us-area-2 ptb-100">
        <div class="container">
            <div class="section-title" data-aos="fade-up" data-aos-delay="100">
                <h2>About Our University</h2>
                <p>Only when different values, experiences and perspectives are met with free and open discourse can
                    education be truly transformative..</p>
            </div>
            <div class="about-content-courser owl-carousel owl-theme">
                <div class="content-items" data-dot="<button>01</button>">
                    <div class="image ct-bg-1" data-aos="fade-zoom-in" data-aos-delay="100">
                    </div>
                    <div class="content" data-aos="fade-up" data-aos-delay="200">
                        <span>Campus Information</span>
                        <h2>Where Knowledge Meets Innovation</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusm tem incid idunt ut
                            labore et dolore magna aliqua. Ut enim ad minim iam quis nostrud xerci tation ulla mco
                            laboris nisi ut</p>
                        <a class="default-btn" href="schedule-tour.html">Schedule A Tour</a>
                    </div>
                </div>
                <div class="content-items" data-dot="<button>02</button>">
                    <div class="image ct-bg-2" data-aos="fade-zoom-in" data-aos-delay="100">
                    </div>
                    <div class="content" data-aos="fade-up" data-aos-delay="200">
                        <span>Campus Information</span>
                        <h2>Where Knowledge Meets Innovation</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusm tem incid idunt ut
                            labore et dolore magna aliqua. Ut enim ad minim iam quis nostrud xerci tation ulla mco
                            laboris nisi ut</p>
                        <a class="default-btn" href="schedule-tour.html">Schedule A Tour</a>
                    </div>
                </div>
                <div class="content-items" data-dot="<button>03</button>">
                    <div class="image ct-bg-3" data-aos="fade-zoom-in" data-aos-delay="100">
                    </div>
                    <div class="content" data-aos="fade-up" data-aos-delay="200">
                        <span>Campus Information</span>
                        <h2>Where Knowledge Meets Innovation</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusm tem incid idunt ut
                            labore et dolore magna aliqua. Ut enim ad minim iam quis nostrud xerci tation ulla mco
                            laboris nisi ut</p>
                        <a class="default-btn" href="schedule-tour.html">Schedule A Tour</a>
                    </div>
                </div>
                <div class="content-items" data-dot="<button>04</button>">
                    <div class="image ct-bg-2" data-aos="fade-zoom-in" data-aos-delay="100">
                    </div>
                    <div class="content" data-aos="fade-up" data-aos-delay="200">
                        <span>Campus Information</span>
                        <h2>Where Knowledge Meets Innovation</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusm tem incid idunt ut
                            labore et dolore magna aliqua. Ut enim ad minim iam quis nostrud xerci tation ulla mco
                            laboris nisi ut</p>
                        <a class="default-btn" href="schedule-tour.html">Schedule A Tour</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- End About Us Area 2 -->
{% endblock %}